.villa-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.villa-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    align-items: center;
}

.villa-cards-item {
    width: 18rem;
    margin: 1rem;
}