.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2.5rem;
}


.villa-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.villa-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    align-items: center;
}

.villa-cards-item {
    width: 18rem;
    margin: 1rem;
}